{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}

    <!-- Cabecera -->
    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/autoescuela_historia.jpg' %}" alt="Nuestra Historia">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Compromiso y experiencia</span>
                  <span class="section-heading-lower">Nuestra historia</span>
                </h2>
                <p>Desde 1987, nuestra autoescuela ha estado formando conductores responsables y seguros. Comenzamos con un pequeño local y un gran sueño: brindar una formación de calidad a futuros conductores.</p>
                <p>Con más de tres décadas de experiencia, hemos crecido gracias a la confianza de nuestros alumnos, siempre adaptándonos a las últimas tecnologías y necesidades del sector. Nuestro objetivo es hacer de cada clase una experiencia enriquecedora y práctica.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
