{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<!-- Cabecera -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="Autoescuela Avance">

      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Aprende a conducir</span>
          <span class="section-heading-lower">Con los mejores</span>
        </h2>
        <p class="mb-3">En nuestra autoescuela, te ofrecemos formación de calidad, tanto teórica como práctica, para que obtengas tu carnet de conducir con total confianza y seguridad.</p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="cursos.html">Conoce nuestros cursos</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Tu seguridad</span>
            <span class="section-heading-lower">Nuestra prioridad</span>
          </h2>
          <p class="mb-0">Con más de 10 años de experiencia, ofrecemos clases adaptadas a tus necesidades, vehículos modernos y profesores altamente capacitados. ¡Confía en nosotros para empezar tu camino al volante!</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
